body {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.vse{
    position: absolute;
    left: 43%;
}
.vse table{
    width: 600px;
}
.asda{
    position: absolute;
    top: 15%;
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
#AutoriLisamine{
    position: absolute;
    left: 100px;
}
#ZanriLisamine{
    position: absolute;
    left: 350px;
}
#raamatu_lisamine{
    position: absolute;
    left: 600px;
}
#Ramatukustutamine{
    position: absolute;
    left: 1300px;
}
#Zanrikustutamine{
    position: absolute;
    left: 1450px;
}
#Autorkustutamine{
  position: absolute;
  left: 1600px;
}

#RedegRaamat{
  position: absolute;

  left: 950px;
}
